.noti-wrapper {
  width: 376px;
  height: 640px;
  background: var(--white);
  border-radius: 8px;
  box-shadow: rgb(0 0 0 / 12%) 0px -4px 32px;
  transition: all 200ms linear 0s;
}

.noti-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  z-index: 11;
  position: relative;

  &::after {
    content: '';
    border: 10px solid;
    border-color: transparent transparent var(--white) transparent;
    position: absolute;
    top: -28px;
    right: 150px;
    z-index: 100000;
  }
}

.noti-header {
  color: rgb(22, 24, 35);
  font-family: SofiaPro, Arial, sans-serif;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 28px;
}

.noti-nav {
  padding-top: 24px;
  padding-left: 16px;
  flex: 0 0 auto;
}

.noti-nav-list {
  display: flex;
  font-size: 1.4rem;
  font-family: var(--font-family);
  font-weight: 600;
  line-height: 20px;
  margin-top: 16px;
  color: var(--text-color);

  .noti-nav-item {
    display: block;
    padding: 2px 8px;
    margin-bottom: 12px;
    border-radius: 12px;
    background: rgb(241, 241, 241);
    text-align: center;
    cursor: pointer;
    transition: all 300ms ease 0s;
  }

  .noti-nav-item:not(:last-child) {
    margin-right: 8px;
  }
}

.noti-nav-item {
  &.active {
    background: rgb(22, 24, 35);
    color: var(--white);

    &:hover {
      background: rgb(22, 24, 35);
    }
  }

  &:hover {
    background: rgba(0, 0, 0, 0.12);
  }
}

.noti-outlet {
  flex: 1 1 auto;
  overflow: auto;
}

.noti-empty {
  padding: 88px 32px 0px;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;

  .error-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    margin-top: 20px;
  }

  .error-desc {
    color: rgba(22, 24, 35, 0.75);
    font-size: 14px;
    line-height: 17px;
    margin-top: 12px;
    text-align: center;
  }
}

.loading {
  animation: spinner 0.9s linear infinite;
  width: 100%;
  text-align: center;
  margin-top: 24px;
}

@keyframes spinner {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
