.wrapper {
  padding: 8px 16px;
  font-size: 1.6rem;
  font-weight: 700;
  font-family: var(--font-family);
  min-width: 100px;
  border-radius: 4px;
  background-color: var(--white);
  border: 1px solid transparent;
  cursor: pointer;

  + .wrapper {
    margin-left: 16px;
  }

  &.disabled {
    pointer-events: none;
    opacity: 0.5;
    user-select: none;
  }
}

.icon + .title,
.title + .icon {
  margin-left: 8px;
}

.icon {
  display: inline-block;
  width: 24px;
  text-align: center;
}

// Button types
.primary {
  background-color: var(--primary);
  color: var(--white);

  &:hover {
    background: linear-gradient(0deg, rgba(0 0 0 / 0.06), rgba(0 0 0 / 0.06)), #fe2c55;
  }

  &.outline {
    color: var(--primary);
    border-color: currentColor;
    background-color: var(--white);

    &:hover {
      background-color: rgba(254, 44, 85, 0.06);
    }
  }
}

.outline {
  color: rgb(22, 24, 35);
  border-color: rgba(22, 24, 35, 0.12);
  border-radius: 4px;

  &:hover {
    background-color: rgba(22, 24, 35, 0.03);
  }
}

.text {
  &:hover {
    text-decoration: underline;
  }
}

.rounded {
  border-radius: 999px;
  box-shadow: 0 2px 8px rgba(0 0 0 / 0.06);
  border-color: rgba(22, 24, 35, 0.12);

  &:hover {
    border-color: rgba(22, 24, 35, 0.2);
    background-color: rgba(22, 24, 35, 0.03);
  }
}

// Button sizes
.small {
  padding: 4px 16px;
}

.large {
  min-width: 148px;
  padding: 14px 16px;
}
