.to-top-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  width: 36px;
  height: 36px;
  background-color: var(--primary);
  border-radius: 50%;
  cursor: pointer;
}
