.wrapper {
  display: flex;
  align-items: center;
  padding: 8px;

  &:hover {
    background: rgba(22 24 35 / 0.03);
    border-radius: 4px;
    cursor: pointer;
  }
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;

  &.small {
    width: 32px;
    height: 32px;
  }
}

.info {
  flex: 1;
  margin-left: 12px;
}

.check {
  margin-left: 6px;
  color: rgb(32, 213, 236);
  font-size: 1.5rem;
}

.nickname,
.username {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.nickname {
  font-family: var(--font-family);
  font-size: 1.6rem;
  font-weight: 600;
  max-width: 260px;

  &.small {
    font-weight: 700;
    color: rgb(22, 24, 35);
    line-height: 22px;
    margin-top: -2px;
  }
}

.username {
  font-family: var(--font-family);
  font-size: 1.4rem;
  font-weight: 400;
  color: rgba(22 24 35 / 0.5);

  &.small {
    color: rgba(22, 24, 35, 0.75);
    font-size: 1.2rem;
    line-height: 15px;
  }
}

.hidden {
  max-width: 145px;
}
