.post-container {
  display: flex;
  position: relative;
  padding: 20px 0;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    transform: scaleY(0.5);
    background: rgba(22, 24, 35, 0.2);
  }
}

.post-body {
  margin-left: 12px;
  width: 624px;
  flex: 1 1 624px;
}

.post-info {
  margin-right: 114px;
}

.author-nickname {
  font-family: SofiaPro, Arial, sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 25px;
  display: inline-block;
  margin-right: 4px;

  &:hover {
    text-decoration: underline;
  }
}

.post-content {
  font-size: 1.6rem;
  line-height: 22px;
}

.author-fullname {
  font-family: var(--font-family);
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 25px;
  display: inline-block;
}

.author-avatar {
  flex: 0 0 auto;

  img {
    object-fit: cover;
    width: 56px;
    height: 56px;
    border-radius: 50%;
  }
}

.video-music {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 22px;
  margin-top: 8px;
  margin-bottom: 12px;

  svg {
    transform: translateY(5px);
    margin-right: 5px;
  }

  a:hover {
    text-decoration: underline;
  }
}

.follow-author {
  position: absolute;
  top: 20px;
  right: 0;
}

.post-video {
  display: flex;
  align-items: flex-end;
}

.action-btn {
  display: flex;
  flex-direction: column;

  & button {
    background-color: var(--white);
    cursor: pointer;
  }
}
