// Suggested account
.following-wrapper {
  padding: 16px 0;
}

.following-title {
  color: rgba(22, 24, 35, 0.75);
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 20px;
  padding: 0px 8px;
  margin-bottom: 8px;
}

// Suggest Btn
.suggest-btn {
  padding: 0 8px;
  margin-top: 8px;
  cursor: pointer;
}

.see-more {
  color: var(--primary);
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 20px;
}

// Follow empty hint
.follow-empty-hint {
  color: var(--haft-text);
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding: 0px 8px;
}

.follow-title {
  color: var(--text-color);
}
